{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('llistat') }}">Llistat</a><br>
    <a href="{{ path('insert') }}">Insert</a><br>
{% endblock %}

{% block stylesheets %}
    <style>
        
    </style>
{% endblock %}
