{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}


	{% if result is defined %}
	    <p><span class="bold">{{ result.nom }}: </span>{{ result.artista }}</p>
	{% endif %}
{% endblock %}

{% block stylesheets %}
    <style>
        .bold{
        	font-weight: bold;
        }
    </style>
{% endblock %}
